In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [3]:
df=df.drop('Unnamed: 0',axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 51 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7032 non-null   int64
 1   MonthlyCharges                           7032 non-null   float64
 2   TotalCharges                             7032 non-null   float64
 3   Churn                                    7032 non-null   int64
 4   gender_Female                            7032 non-null   int64
 5   gender_Male                              7032 non-null   int64
 6   Partner_No                               7032 non-null   int64
 7   Partner_Yes                              7032 non-null   int64
 8   Dependents_No                            7032 non-null   int64
 9   Dependents_Yes                           7032 non-null   int64
 10  PhoneService_No                          7032 non-null   int64
 11  PhoneService_Yes                         7032 non-null   int64
 12  MultipleLines_No                         7032 non-null   int64
 13  MultipleLines_No phone service           7032 non-null   int64
 14  MultipleLines_Yes                        7032 non-null   int64
 15  InternetService_DSL                      7032 non-null   int64
 16  InternetService_Fiber optic              7032 non-null   int64
 17  InternetService_No                       7032 non-null   int64
 18  OnlineSecurity_No                        7032 non-null   int64
 19  OnlineSecurity_No internet service       7032 non-null   int64
 20  OnlineSecurity_Yes                       7032 non-null   int64
 21  OnlineBackup_No                          7032 non-null   int64
 22  OnlineBackup_No internet service         7032 non-null   int64
 23  OnlineBackup_Yes                         7032 non-null   int64
 24  DeviceProtection_No                      7032 non-null   int64
 25  DeviceProtection_No internet service     7032 non-null   int64
 26  DeviceProtection_Yes                     7032 non-null   int64
 27  TechSupport_No                           7032 non-null   int64
 28  TechSupport_No internet service          7032 non-null   int64
 29  TechSupport_Yes                          7032 non-null   int64
 30  StreamingTV_No                           7032 non-null   int64
 31  StreamingTV_No internet service          7032 non-null   int64
 32  StreamingTV_Yes                          7032 non-null   int64
 33  StreamingMovies_No                       7032 non-null   int64
 34  StreamingMovies_No internet service      7032 non-null   int64
 35  StreamingMovies_Yes                      7032 non-null   int64
 36  Contract_Month-to-month                  7032 non-null   int64
 37  Contract_One year                        7032 non-null   int64
 38  Contract_Two year                        7032 non-null   int64
 39  PaperlessBilling_No                      7032 non-null   int64
 40  PaperlessBilling_Yes                     7032 non-null   int64
 41  PaymentMethod_Bank transfer (automatic)  7032 non-null   int64
 42  PaymentMethod_Credit card (automatic)    7032 non-null   int64
 43  PaymentMethod_Electronic check           7032 non-null   int64
 44  PaymentMethod_Mailed check               7032 non-null   int64
 45  tenure_group_1 - 12                      7032 non-null   int64
 46  tenure_group_13 - 24                     7032 non-null   int64
 47  tenure_group_25 - 36                     7032 non-null   int64
 48  tenure_group_37 - 48                     7032 non-null   int64
 49  tenure_group_49 - 60                     7032 non-null   int64
 50  tenure_group_61 - 72                     7032 non-null   int64
dtypes: float64(2), int64(49)
memory usage: 2.7 MB

In [4]:
df.describe()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,...,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.00000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,64.798208,2283.300441,0.265785,0.495307,0.504693,0.517491,0.482509,0.701507,0.298493,...,0.219283,0.216297,0.336320,0.228100,0.309300,0.14562,0.118316,0.108362,0.118316,0.200085
std,0.368844,30.085974,2266.771362,0.441782,0.500014,0.500014,0.499729,0.499729,0.457629,0.457629,...,0.413790,0.411748,0.472483,0.419637,0.462238,0.35275,0.323005,0.310859,0.323005,0.400092
min,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,35.587500,401.450000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,70.350000,1397.475000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,89.862500,3794.737500,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000
max,1.000000,118.750000,8684.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000

In [5]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [6]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [7]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from imblearn.combine import SMOTEENN

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [9]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [10]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x, y)

In [11]:
x.shape

(7032, 50)

In [12]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [13]:
model_rf.fit(xr_train1,yr_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [14]:
yr_predict1 = model_rf.predict(xr_test1)

In [15]:
model_score_r1 = model_rf.score(xr_test1, yr_test1)

In [16]:
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.9313304721030042
              precision    recall  f1-score   support

           0       0.95      0.90      0.92       537
           1       0.92      0.96      0.94       628

    accuracy                           0.93      1165
   macro avg       0.93      0.93      0.93      1165
weighted avg       0.93      0.93      0.93      1165

In [17]:
print(metrics.confusion_matrix(yr_test1, yr_predict1))

[[484  53]
 [ 27 601]]

In [18]:
import pickle
filename = 'model.sav'
pickle.dump(model_rf, open(filename, 'wb'))
load_model = pickle.load(open(filename, 'rb'))
model_score_r1 = load_model.score(xr_test1, yr_test1)
model_score_r1

0.9313304721030042

In [19]:
yr_predict1

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

# RF Classifier with SMOTEENN, is now ready and dumped

In [24]:
predicted_probs = model_rf.predict_proba(x)
print(predicted_probs)

[[0.21898409 0.78101591]
 [0.91163853 0.08836147]
 [0.24159006 0.75840994]
 ...
 [0.44633173 0.55366827]
 [0.04353583 0.95646417]
 [0.89189195 0.10810805]]

In [25]:
results = predicted_probs[:,1]
results

array([0.78101591, 0.08836147, 0.75840994, ..., 0.55366827, 0.95646417,
       0.10810805])

In [26]:
with open('model_predictions.txt', 'w') as file:
    for value in results:
        file.write(f'{value}\n')

In [27]:
x.shape

(7032, 50)